<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$app-root/resources/img/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/bootstrap-3.0.3.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css"/>
        <script type="text/javascript" src="$app-root/resources/js/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$app-root/resources/js/custom.js"/>
        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"index.html","theme":"dark-bottom"};
    </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"/>
        <!-- End Cookie Consent plugin -->
    </head>
    <body id="body">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
                <a data-template="config:app-title" class="navbar-brand" href="./index.html">App Title</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="toc.html">Table of Content</a>
                            </li>
                            <li>
                                <a href="persons.html">Persons</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <form method="get" action="ft_search.html" class="navbar-form" id="pageform">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchexpr" placeholder="search in all inventories" pattern=".{3,}" required="" title="3 characters minimum"/>
                            </div>
                            <button type="submit" class="btn btn-primary">search</button>
                        </div>
                    </form>
                </div>
            </div>
            
        </nav>
        <section class="main-content">
            <div id="content" class="container"/>
        </section>
        <footer>
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-4">
                        <a href="" class="navlink" target="_blank">
                            <img src="" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="" class="navlink" target="_blank">
                            <img src="" alt=""/>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="http://exist-db.org/" class="navlink" target="_blank">
                            <img src="$app-root/resources/img/powered-by.svg" alt="eXist-db" width="150"/>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>